[submodule "apps/assetsheld"]
	path = apps/assetsheld
	url = git@github.com:garrett9/assetsheld.git
	branch = master
[submodule "apps/assetsheld-account"]
	path = apps/assetsheld-account
	url = git@github.com:garrett9/assetsheld-account.git
	branch = master
[submodule "apps/assets-retrieved"]
	path = apps/assets-retrieved
	url = git@github.com:garrett9/assets-retrieved.git
